body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.date-time {
  font-size: small;
  font-family: cursive !important;
  color: aliceblue;
}
.text {
  color: aliceblue;
}

.latest {
  scrollbar-width: none !important;
  background-image: linear-gradient(#070707, #2e2e2e) !important;
  bottom: 0;
}
.latest::-webkit-scrollbar,
.mainContainer::-webkit-scrollbar,
.queue_list::-webkit-scrollbar,
.Popular_artists_details::-webkit-scrollbar,
.Genre_details::-webkit-scrollbar,
.Songs_with_Title::-webkit-scrollbar {
  display: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.icon-border {
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 !important;
  padding: 0 !important;
}

/*  navbar icon */
.navbar {
  background-color: rgb(0, 0, 0);
  background-image: linear-gradient(to right, #757878, #000000);
}

.icon {
  position: relative;
  height: 50px;
  width: 50px;
  background-color: rgb(23, 24, 24);
  border-radius: 50%;
  overflow: hidden;
}
.icon::before {
  content: "";
  position: absolute;
  inset: -10px 20px !important;
  background-image: linear-gradient(
    rgb(255, 0, 0),
    rgb(0, 255, 170)
  ) !important;
  animation: animate 4s linear infinite;
}

.icon:hover::before {
  inset: -10px 0px !important;
  transition: all 0.5s;
}

/* animation on navbar icon */
@keyframes animate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.icon::after {
  content: "";
  position: absolute !important;
  inset: 2px !important;
  background-image: url(https://thumbs.dreamstime.com/b/music-notes-7544001.jpg);
  background-size: contain;
  background-color: rgb(255, 255, 255) !important;
  border-radius: 50% !important;
  z-index: 1 !important;
}

.icon-content {
  position: absolute;
  inset: 1px;
  z-index: 3;
  border-radius: 50%;
  overflow: hidden;
}

.icon-content img {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
  transition: all.5s;
}

.icon:hover .icon-content img {
  opacity: 0;
}

.icon:hover {
  transform: scale(1.24);
  transition: all 0.5s;
}

/*  Nav bar favourite */
.nav-item a {
  font-size: large;
  font-weight: bold;
  color: rgb(42, 36, 36) !important;
}

/* Voice button on search bar */
.mic {
  margin-top: 13px;
  margin-left: -30px;
  z-index: 1;
  color: rgb(0, 0, 0);
}

/* search bar and icon */

.search-bar {
  margin-top: 4px;
  margin-left: 40px;
  height: 35px !important;
  border-color: rgb(255, 255, 255) !important;
}

.magnifying-glass {
  display: block;
  z-index: 1;
  margin-top: 13px;
  margin-right: -64px;
  margin-left: 33px;
  left: 30% !important;
  color: rgb(27, 24, 24);
}
/* input of form in search bar */
::placeholder {
  color: #ffffff !important;
}

.form-control:focus {
  box-shadow: 0 0 0 0.2rem rgba(236, 236, 236, 0.25) !important;
}

/* Bell icon and animation */
.anim {
  /* border: 1px solid black; */
  position: relative;
  margin-top: 10px;
  margin-left: 20px;
  width: fit-content;
  height: fit-content;
  animation: bell-shake 1s linear infinite;
}
.bell {
  font-size: x-large;

  color: rgb(53, 27, 27);
}

/* circle on bell icon */
.circle {
  color: rgb(255, 0, 0);
  font-size: 5px;
  top: 10%;
  position: absolute;
  right: 10%;
  /* animation: bell-shake 1s linear infinite; */
}
@keyframes bell-shake {
  0% {
    transform: rotate(0deg);
  }
  15% {
    transform: rotate(20deg);
  }
  25% {
    transform: rotate(0deg);
  }
  35% {
    transform: rotate(-20deg);
  }
  45% {
    transform: rotate(0deg);
  }

  55% {
    transform: rotate(20eg);
  }
  65% {
    transform: rotate(0deg);
  }
  75% {
    transform: rotate(0deg);
  }
  80% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

/* Navbar image */

#navbar-img {
  margin-left: 60px;
  margin-right: 10px;
}
/* LAtest-release section */
.img-container {
  position: relative;
}

.playpause {
  position: absolute;
  top: 40%;
  left: 45%;
  display: none;
}
.playpauseimg:hover {
  cursor: pointer;
}

/* latest release image */
.latest-rel-image {
  opacity: 1;
  display: inline-block;
  height: auto;
  transition: 0.2s ease;
  backface-visibility: hidden;
}
.latest-rel-col:hover {
  background-image: linear-gradient(to left, #000000, #2d3436);
  box-shadow: 3px 3px 1px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

.latest-rel-col:hover .lat-rel-song {
  font-size: large;
  font-weight: bold;
  color: rgb(169, 182, 194) !important;
  transition: all 0.2s;
  transform: scale(1.1);
}
.options {
  position: absolute;
  right: 0;
}

.latest-rel-image img {
  border-radius: 4px !important;
}

.img-container:hover .latest-rel-image {
  opacity: 0.6;
  filter: blur(0.6px);
}
.popular {
  border: 1px solid black;
  overflow-y: scroll !important;
  height: 190px;
}
.img-container:hover .playpause {
  display: block;
}

.lat-rel-song {
  transition: all 0.2s;
}
/*  Genre */
.music {
  background-color: rgb(36, 45, 51) !important;
}
/* content div of music genre */
.music-content {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
/* image if music genre */
.music-img {
  opacity: 0.6 !important;
  transition: all.2s;
}
/* content of music genre */
.music-type {
  position: absolute;
  text-align: center;
  font-size: large;
  font-weight: bold;
  color: rgb(255, 255, 255) !important;
  transition: all.2s;
}
/* on hover transform */
.music-content:hover .music-type,
.music-content:hover .music-img {
  transform: scale(1.25);
  transition: all.2s;
}

.divs {
  height: 200px;
  width: 200px;
  display: flex;
  position: relative;
}

.div1 {
  display: inline;
  height: 100px;
  width: 200px;
  background-color: rgb(3, 255, 205);
  position: absolute;
  top: 25%;
  left: 0%;
}
.div2 {
  display: inline;
  height: 140px;
  width: 170px;
  background-color: rgb(32, 159, 117);
  position: absolute;
  left: 7%;
  top: 15%;
}
.div3 {
  display: inline;
  height: 160px;
  width: 140px;
  background-image: linear-gradient(to left, #f7fbff, #202527);
  position: absolute;
  left: 15%;
  top: 10%;
}

.div4 {
  height: fit-content;
  width: fit-content;
  position: absolute;
  top: 30%;
  left: 14%;
}

@keyframes jump {
  0% {
    transform: translateY(0px);
  }

  100% {
    transform: translateY(10px);
  }
}

.div4 .Headphones {
  animation: jump 1s linear infinite alternate;
}

.div4 .Headphones {
  font-size: 40px;
  transition: color 0.4s ease-in-out;
}

.div4 h3 {
  margin-top: 4px;
  transition: color 0.4s ease-in-out;
}

.divs:hover .div4 .Headphones,
.divs:hover .div4 h3 {
  color: aliceblue;
}

.imgzoom {
  background-image: linear-gradient(
    to top,
    rgb(205, 24, 24),
    rgb(21, 195, 198)
  ) !important;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s;
  overflow: hidden;
}

.imgzoom img {
  transition: all 0.2s;
}

.imgzoom:hover img {
  transform: scale(1.5);
  opacity: 0.5;
}

/* hovering effect */
.imgzoom:hover .inside-zoom-text {
  transform: scalex(1.23);
}

.imgzoom p {
  transform: scaleX(0);
}

/* text of mood music */
.inside-zoom-text {
  position: absolute;
  color: rgb(255, 255, 255);
  font-size: larger;
  text-transform: uppercase;
  font-weight: bold;
}

/* English songs */
.artist-name {
  color: rgb(252, 252, 252);
  font-weight: 800;
}

.date {
  color: rgb(255, 255, 255);
  font-size: x-small;
}

.eng-hin-artist,
.eng-hin-img {
  transition: all 0.2s;
  width: 300;
}

.eng-hin-artist:hover {
  background-image: linear-gradient(to left, rgb(34, 38, 42), rgb(81, 81, 81));
  transform: scale(1.25);
  transition: all 0.4s;
  border-radius: 4px;
  box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.eng-hin-artist:hover .eng-hin-img {
  border-radius: 4px;
}

/* Latest Hindi */

.latest-hindi {
  margin-bottom: 15px;
}

.eng-hin-artist p {
  text-align: center;
}

.eng-hin-artist img {
  margin: auto;
}

/* aside section */
.Queue {
  width: 450px !important;
  /* border: 1px solid black; */
}
.queue-button {
  height: fit-content;
}
/* aside section button dropdown */
.queue-dropdown {
  border: 0 !important;
  transition: all 0.6s !important ;
}
.queue-desc-head {
  font-weight: bolder;
  color: aliceblue;
  font-family: cursive;
}
/* queue list artist name */
.queue-desc {
  font-size: x-small;
  color: aliceblue;
}
/* like button of queue */
.heart-dim {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.heart {
  color: rgb(211, 221, 230);
}

/* Styling of List numbers */

ol {
  counter-reset: li !important;
}

ol li::before {
  font-size: 15px;
  margin-top: 13px;
  margin-right: 2px;
  color: rgb(255, 255, 255);
  content: counter(li, decimal-leading-zero) !important;
  border-radius: 50%;
  width: fit-content;
  counter-increment: li !important;
  height: fit-content;
}
.queue-row {
  border: none !important;
  transition: all 0.1s;
}
/* on hovering queue list */
.queue-row:hover {
  background-image: linear-gradient(to bottom right, #8b939a, #5b6467);
  border-radius: 5px !important;
  transition: all 0.1s;
}
/* for aside button on responsiveness */
#check {
  display: none;
}
.heart:hover {
  color: red !important;
  cursor: pointer;
}
.playpause_container {
  position: relative;
  cursor: pointer;
}


#playpauseFooter {
  position: absolute;
  top: 30%;
  left: 45%;
  font-size: 15px;
  display:none;
}

.playpause_container:hover #playpauseFooter {
  display: block !important;
 }
 

